{% extends 'base.html.twig' %}

{% block title 'About Us | ' ~ parent() %}

{% block body %}
    <h1>Built by Adib.P LGS</h1>
    <p><a href="{{ path('pages.home')}}" class="text-purple-900 hover:text-indigo-600">Back to Home</a></p>
{% endblock %}