{% extends 'base.html.twig' %}

{% block body %}
    <img src="{{ asset('/images/montaigne.jpg') }}" alt="Empty Place" class="h-32 mt-12 rounded shadow-md">
    
    <h1 class="mt-5 text-3xl sm:text-5xl font-semibold text-blue-500">Hello from Azkaban</h1>

    <p class=" mt-5 text-lg-gray-800" >Actually it is {{ 'now'|date('h:i A') }}.</p>

{% endblock %}
